* {
    margin: 0;
    padding: 0;
}

.container {
    background: rgb(255, 255, 255);
    gap: 2px;
    margin-top: 10px;

}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 170%;
    margin-top: 20px;
}

.decor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 10px;
    margin-left: 25%;
}

.left-line {
    height: 5px;
    width: 100%;
    background-color: rgb(16, 16, 59);
}

.star {
    margin: 0 10px;

    .fa {
        font: normal normal normal 170% FontAwesome;
    }
}

.right-line {
    height: 5px;
    width: 100%;
    background-color: rgb(16, 16, 59);
    ;
}

.row a img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col-md-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolio-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-bottom: 20px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 4px 8px 12px #000000;
    border-radius: 5px;
}

.portfolio-item a {
    color: #000000;
    text-decoration: none;
}
.portfolio-item a:hover {
    color: #ff0202;
    cursor: pointer;
}

.col-md-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    margin-bottom: 10%;
}

.fa {
    color: #000000;
}

.fa:hover {
    color: #f90202;
    cursor: pointer;
}

@media (max-width: 768px) {
    .portfolio-item {
        width: 100%;
    }
}